<style>
	/*HTML structure and styling for the modal windows on this site were obtained and aapted from https://www.w3schools.com/howto/howto_css_modals.asp.  */
	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		-webkit-animation-name: fadeIn; /* Fade in the background */
		-webkit-animation-duration: 0.4s;
		animation-name: fadeIn;
		animation-duration: 0.5s
	}

	/* Modal Content */
	.modal-content {
		margin: auto;
		background-color: #fefefe;
		-webkit-animation-name: slideIn;
		-webkit-animation-duration: 0.4s;
		animation-name: slideIn;
		animation-duration: 0.5s
	}

	/* The Close Button */
	#close {
		color: white;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	#close:hover,
	#close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-header {
		padding: 2px 16px;
		background-color: #000000;
		color: white;
	}

	.modal-body {padding: 2px 16px;}

	.modal-footer {
		padding: 2px 16px;
		background-color: #ffffff;
		color: white;
	}

	/* Add Animation */
	@-webkit-keyframes slideIn {
		from {bottom: -300px; opacity: 0} 
		to {bottom: 0; opacity: 1}
	}

	@keyframes slideIn {
		from {bottom: -300px; opacity: 0}
		to {bottom: 0; opacity: 1}
	}

	@-webkit-keyframes fadeIn {
		from {opacity: 0} 
		to {opacity: 1}
	}

	@keyframes fadeIn {
		from {opacity: 0} 
		to {opacity: 1}
	}
</style>