<style>
        div{
                border-radius: 0;
        }
    img{
		float: left;
	}
	
	.topnav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        
    .topnav {
        background-color: #000000;
        overflow: hidden;
		position:fixed;		
		top: 0px;
		left: 0px;
		width:100%;
    }
        
    .topnav a:hover{
        color: #ff0e0e;
        overflow: hidden;
        text-decoration: none;
    }
		
	form p label {
        margin:auto;
	    display:block;
    }
		
	form{
		margin:auto;
		display:block;
		width:100%;
		text-align: center;
	}
		
	h1{
		text-align:center;
	}
		
	p{
		text-align:center;
	}
		
	button{
		background: #f99f18;
		border: 1px solid #f99f18;
		color:#ffffff;
		margin:auto;
		display:block;
		padding: 5px;
		border-radius:10px;
		font-size:25px;
	}
	h2{
                text-align: center;
        }
	h3{
		text-align: center;		
	}
		
	p{
		display: block;
	}
		
	table{
		border: 1px solid black;
		table-layout: fixed;
                width: 100%;
	}
		
	#month{
		background: black;
		color: white;
		border: 0px solid black;
		cellspacing=0;
	}
	
	#taken{
		background-color:red;
	}
        
    .selectedDate {
        background-color: #00ff21;
    }
        
    .unselectedDate{
        background-color: #ffffff;
    }
        
    select{
        display: block;
        margin: 0 auto;
    }
    
	/* Learnt from https://www.w3schools.com/css/css_table.asp */
    .report {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.report td, .report th {
    border: 1px solid #ddd;
    padding: 8px;
}

.report tr:nth-child(even){background-color: #f2f2f2;}

.report tr:hover {background-color: #ddd;}

.report th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
}
</style>